*.exe
*.exe~
*.dll
*.so
*.dylib
addcopyright
copyright


test_files/
*_test.go
*.test


*.out
output.txt


.idea/
.vscode/
*.swp
*.swo


*.o
*.a
_obj
_test
_testmain.go


/vendor/


debug
*.log


.DS_Store
Thumbs.db 